:root {
  --pokedex: #DC082D;
  --pokedex-light: #E8667C;
  --pokedex-dark: #89071C; 
  --pokedex-darkest: #49040F; 
  --pokedex-blue: #1A6A9E;
  --pokedex-blue-light: hsl(from var(--pokedex-blue) h s calc(l * 1.35));
  --grey: #DFDEDE;
  --grey-dark: hsl(from var(--grey) h s calc(l * .05));
  --screen: #9DA266;

  --head-light-red: #96061F;
  --head-light-yellow: #A18A05;
  --head-light-green: #326937;
}

.pokedex {
  --pokedex-margin: 2.25rem;
  --pokedex-width: calc(400rem / 16);
  --pokedex-border-width: calc(2rem / 16);
  --pokedex-hinge-width: calc(46rem / 16);
  --outline-inset: calc(8rem / 16);
  display: grid;
  grid-template-columns: 1fr var(--pokedex-hinge-width);
  grid-auto-rows: auto;
  background: var(--pokedex);
  width: var(--pokedex-width);
  border-radius: calc(8rem / 16);
  border-bottom-right-radius: 0;
  border: var(--pokedex-border-width) solid black;
}

.pokedex__head {
  grid-column: span 2;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem 0 0;
}

.pokedex__camera {
  position: relative;
  margin-left: 1.5rem;
  aspect-ratio: 1 / 1;
  font-size: 4.5rem;
  width: 1em;
  flex: 0 0 1em;
  border-radius: 50%;
  background: var(--pokedex-blue-light);
  outline: var(--pokedex-border-width) solid var(--grey-dark);
  border: calc(4rem / 16) solid var(--grey);
  
  &:before {
    content: '';
    display: block;
    position: relative;
    left: 8%;
    top: 8%;
    width: 84%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--pokedex-blue);
    transform: translate(0, 0);
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: var(--pokedex-border-width) solid var(--grey-dark);
    border-radius: 50%;
  }
}

.highlight {
  --color: var(--pokedex-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 12%;
    left: 12%;
    width: 52%;
    height: 52%;
    background: hsl(from var(--color) h s calc(l * 1.45));
    border-radius: 50%;
    filter: blur(calc(1em / 16));
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 24%;
    left: 24%;
    width: 20%;
    height: 20%;
    background: hsl(from var(--color) h s calc(l * 2.3));;
    border-radius: 50%;
    filter: blur(calc(1em / 22));
  }
}

@keyframes head-lights-loading {
  0% {
    --red: hsl(from var(--head-light-red) h s calc(l * 1.8));
    --yellow: var(--head-light-yellow);
    --green: var(--head-light-green);
  }
  33.3% {
    --red: hsl(from var(--head-light-red) h s calc(l * 1.8));
    --yellow: var(--head-light-yellow);
    --green: var(--head-light-green);
  }
  33.4% {
    --red: var(--head-light-red);
    --yellow: hsl(from var(--head-light-yellow) h s calc(l * 1.6));
    --green: var(--head-light-green);
  }
  66.6% {
    --red: var(--head-light-red);
    --yellow: hsl(from var(--head-light-yellow) h s calc(l * 1.6));
    --green: var(--head-light-green);
  }
  66.7% {
    --red: var(--head-light-red);
    --yellow: var(--head-light-yellow);
    --green: hsl(from var(--head-light-green) h s calc(l * 1.8));
  }
  100% {
    --red: var(--head-light-red);
    --yellow: var(--head-light-yellow);
    --green: hsl(from var(--head-light-green) h s calc(l * 1.8));
  }
}

.pokedex__head-lights {
  --hl-color: var(--pokedex);
  --red: var(--head-light-red);
  --yellow: var(--head-light-yellow);
  --green: var(--head-light-green);
  display: flex;
  gap: .75rem;
  font-size: 1rem;

  &.active {
    animation: 1.5s linear 0s infinite head-lights-loading forwards;
  }
}

.pokedex__head-light {
  position: relative;
  width: 1em;
  aspect-ratio: 1 / 1;
  background: var(--hl-color);
  border: var(--pokedex-border-width) solid var(--grey-dark);
  border-radius: 50%;
  
  .highlight {
    --color: var(--hl-color);
  }
}

.pokedex__head-light--red {
  --hl-color: var(--red);
}

.pokedex__head-light--yellow {
  --hl-color: var(--yellow);
}

.pokedex__head-light--green {
  --hl-color: var(--green);
}

.pokedex__head-bottom-edge {
  position: relative;
  width: calc(var(--pokedex-width) / 2 - var(--pokedex-border-width));
  border-bottom: var(--pokedex-border-width) solid black;

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform-origin: top right;
    rotate: -46.5deg;
    width: 30.125%;
    bottom: 2.5rem;
    right: -20%;
    border-bottom: var(--pokedex-border-width) solid black;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    bottom: 2.5rem;
    right: -100%;
    border-bottom: var(--pokedex-border-width) solid black;
  }
}


.pokedex__body {
  position: relative;
  padding: var(--pokedex-margin) 0;
}

.pokedex__body-outline {
  position: absolute;
  inset: var(--outline-inset);
  border: var(--pokedex-border-width) solid var(--grey-dark);
  border-top: none;
  border-bottom-left-radius: calc(6rem / 16);
  border-bottom-right-radius: calc(6rem / 16);
  z-index: 0;
}

.pokedex__body-outline--top {
  --outline-top-width: calc(var(--pokedex-width) / 2 - var(--pokedex-border-width) * 2);
  position: relative;
  width: var(--outline-top-width);
  border-bottom: var(--pokedex-border-width) solid black;
  margin-bottom: var(--pokedex-margin);

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform-origin: top right;
    rotate: -46.5deg;
    width: 30.125%;
    bottom: 2.5rem;
    right: -20%;
    border-bottom: var(--pokedex-border-width) solid black;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(var(--outline-top-width) * .8 - var(--pokedex-hinge-width) - var(--outline-inset) * 2);
    bottom: 2.5rem;
    right: calc(-100% + var(--pokedex-hinge-width) + var(--outline-inset) * 2);
    border-bottom: var(--pokedex-border-width) solid black;
  }
}

.pokedex__body-outline--right {
  position: absolute;
  right: 0;
  top: 0;
  translate: 100% -100%;
  background: var(--grey-dark);
  width: var(--pokedex-border-width);
  height: calc(42rem / 16);
}



.pokedex-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  padding: calc(var(--pokedex-margin) * .75) calc(var(--pokedex-margin) * .75) 0;
}



.start-button {
  flex: 0 0 14%;
  aspect-ratio: 1 / 1;
  background: hsl(from var(--grey-dark) h s calc(l * 3));
  border: var(--pokedex-border-width) solid var(--grey-dark);
  border-radius: 50%;
  cursor: pointer;
}



.central-controls {
  --central-button-width: calc(40rem / 16);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 auto;
  column-gap: calc(24rem / 16);
  row-gap: calc(18rem / 16);
}

.central-button-red, .central-button-blue {
  flex: 0 0 var(--central-button-width);
  height: calc(8rem / 16);
  border-radius: calc(8rem / 16);
  border: var(--pokedex-border-width) solid var(--grey-dark);
  cursor: pointer;
}

.central-button-red {
  background: var(--pokedex);
}

.central-button-blue {
  background: var(--pokedex-blue);
}

.central-button-green {
  background: var(--screen);
  border: var(--pokedex-border-width) solid var(--grey-dark);
  width: calc(var(--central-button-width) * 2 + 24rem / 16);
  aspect-ratio: 2 / 1;
  cursor: pointer;
}



.dpad__container {
  position: relative;
  flex: 0 0 30%;
  aspect-ratio: 1 / 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: .5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: var(--pokedex-border-width) solid var(--grey-dark);
    z-index: 3;
  }
}

.dpad__vertical, .dpad__horizontal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: calc(4rem / 16);
}

.dpad__vertical {
  flex-direction: column;
  height: 100%;
  width: 33%;
  background: hsl(from var(--grey-dark) h s calc(l * 3));
}

.dpad__horizontal {
  flex-direction: row;
  height: 33%;
  width: 100%;
}

.dpad__button {
  flex: 0 0 calc(33.33% + 2rem / 16);
  background: hsl(from var(--grey-dark) h s calc(l * 3));
  border: var(--pokedex-border-width) solid var(--grey-dark);
  cursor: pointer;

  &.zoom-in {
    border-bottom: none;
  }

  &.zoom-out {
    border-top: none;
  }

  &.previous-pokemon {
    border-right: none;
  }

  &.next-pokemon {
    border-left: none;
  }
}



.pokedex__hinge {
  --cutout-height: calc(34rem / 16);
  position: relative;
  top: calc(var(--cutout-height) * -1 - var(--outline-inset));
  height: calc(100% + var(--cutout-height) + var(--outline-inset));
  border-left: var(--pokedex-border-width) solid var(--grey-dark);
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -2%;
    height: 120%;
    width: 120%;
    background: linear-gradient(
      to right, 
      rgba(0,0,0,0), 
      rgba(0,0,0,0) 18%, 
      rgba(255,255,255,0.35) 18%, 
      rgba(255,255,255,0.35) 40%, 
      rgba(0,0,0,0) 40%, 
      rgba(0,0,0,0) 65%, 
      rgba(0,0,0,0.35) 65%, 
      rgba(0,0,0,0.35) 100%);
    filter: blur(calc(3rem / 16));
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    top: 9%;
    height: 82%;
    border: calc(var(--pokedex-border-width) * 2) solid var(--grey-dark);
    border-left: none;
    border-right: none;
  }
}



/* Chromatic Aberration Credit: https://codepen.io/fand/pen/EgGwjg */

.chromatic-aberration {
  position: relative;
  filter: url(#chromatic-aberration) sepia(.35);
}



.effects-disabled {
  .chromatic-aberration {
    filter: none;
  }
  .pokemon-image__container {

    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

.reduced-motion {
  .pokemon-image__container {
  
    &:after {
      animation: none;
    }
  }
}

@media (prefers-reduced-motion) {
  .pokemon-image__container {
  
    &:after {
      animation: none;
    }
  }
}