:root {
  --pokedex: #DC082D;
  --pokedex-light: #E8667C;
  --pokedex-dark: #89071C; 
  --pokedex-darkest: #49040F; 
  --pokedex-blue: #1A6A9E;
  --pokedex-blue-light: hsl(from var(--pokedex-blue) h s calc(l * 1.35));
  --grey: #DFDEDE;
  --grey-dark: hsl(from var(--grey) h s calc(l * .05));
  --screen: #9DA266;

  --head-light-red: #96061F;
  --head-light-yellow: #A18A05;
  --head-light-green: #326937;
}

.pokedex {
  --pokedex-margin: 2.25rem;
  background: var(--pokedex);
  aspect-ratio: 530 / 800;
  width: calc(400rem / 16);
  border-radius: calc(8rem / 16);
  border: calc(2rem / 16) solid black;
}

.pokedex__head {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem 0 0;
}

.pokedex__camera {
  position: relative;
  margin-left: 1.5rem;
  aspect-ratio: 1 / 1;
  font-size: 4.5rem;
  width: 1em;
  flex: 0 0 1em;
  border-radius: 50%;
  background: var(--pokedex-blue-light);
  outline: calc(2rem / 16) solid var(--grey-dark);
  border: calc(4rem / 16) solid var(--grey);
  
  &:before {
    content: '';
    display: block;
    position: relative;
    left: 8%;
    top: 8%;
    width: 84%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--pokedex-blue);
    transform: translate(0, 0);
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: calc(2rem / 16) solid var(--grey-dark);
    border-radius: 50%;
  }
}

.highlight {
  --color: var(--pokedex-blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 12%;
    left: 12%;
    width: 52%;
    height: 52%;
    background: hsl(from var(--color) h s calc(l * 1.45));
    border-radius: 50%;
    filter: blur(calc(1em / 16));
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 24%;
    left: 24%;
    width: 20%;
    height: 20%;
    background: hsl(from var(--color) h s calc(l * 2.3));;
    border-radius: 50%;
    filter: blur(calc(1em / 22));
  }
}

@keyframes head-lights-loading {
  0% {
    --red: hsl(from var(--head-light-red) h s calc(l * 1.8));
    --yellow: var(--head-light-yellow);
    --green: var(--head-light-green);
  }
  33.3% {
    --red: hsl(from var(--head-light-red) h s calc(l * 1.8));
    --yellow: var(--head-light-yellow);
    --green: var(--head-light-green);
  }
  33.4% {
    --red: var(--head-light-red);
    --yellow: hsl(from var(--head-light-yellow) h s calc(l * 1.6));
    --green: var(--head-light-green);
  }
  66.6% {
    --red: var(--head-light-red);
    --yellow: hsl(from var(--head-light-yellow) h s calc(l * 1.6));
    --green: var(--head-light-green);
  }
  66.7% {
    --red: var(--head-light-red);
    --yellow: var(--head-light-yellow);
    --green: hsl(from var(--head-light-green) h s calc(l * 1.8));
  }
  100% {
    --red: var(--head-light-red);
    --yellow: var(--head-light-yellow);
    --green: hsl(from var(--head-light-green) h s calc(l * 1.8));
  }
}

.pokedex__head-lights {
  --hl-color: var(--pokedex);
  --red: var(--head-light-red);
  --yellow: var(--head-light-yellow);
  --green: var(--head-light-green);
  display: flex;
  gap: .75rem;
  font-size: 1rem;

  &.active {
    animation: 1.5s linear 0s infinite head-lights-loading forwards;
  }
}

.pokedex__head-light {
  position: relative;
  width: 1em;
  aspect-ratio: 1 / 1;
  background: var(--hl-color);
  border: calc(2rem / 16) solid var(--grey-dark);
  border-radius: 50%;
  
  .highlight {
    --color: var(--hl-color);
  }
}

.pokedex__head-light--red {
  --hl-color: var(--red);
}

.pokedex__head-light--yellow {
  --hl-color: var(--yellow);
}

.pokedex__head-light--green {
  --hl-color: var(--green);
}

.pokedex__head-bottom-edge {
  position: relative;
  width: 50%;
  border-bottom: calc(2rem / 16) solid black;
  margin-bottom: var(--pokedex-margin);

  &:before {
    content: '';
    display: block;
    position: absolute;
    transform-origin: top right;
    rotate: -46.5deg;
    width: 30.125%;
    bottom: 2.5rem;
    right: -20%;
    border-bottom: calc(2rem / 16) solid black;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    bottom: 2.5rem;
    right: -100%;
    border-bottom: calc(2rem / 16) solid black;
  }
}

.screen {
  --screen-padding: 2.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(250rem / 16);
  background: var(--grey);
  border: calc(2rem / 16) solid var(--grey-dark);
  border-radius: calc(8rem / 16);
  border-bottom-left-radius: calc(40rem / 16);
  padding: calc(var(--screen-padding) + 4rem / 16) var(--screen-padding);
  margin: 0 var(--pokedex-margin);
  overflow: hidden;

  &:before {
    display: block;
    position: absolute;
    z-index: 0;
    content: '';
    inset: calc(var(--screen-padding) + 4rem / 16) var(--screen-padding);
    background: var(--screen);
    border: calc(2rem / 16) solid var(--grey-dark);
    border-radius: calc(6rem / 16);
    box-shadow: 
      inset calc(5rem / 16) calc(3rem / 16) calc(8rem / 16) rgba(0,0,0,0.33),
      inset calc(4rem / 16) calc(0rem / 16) 0 hsla(from var(--screen) h s calc(l * .8)),
      inset calc(-4rem / 16) calc(0rem / 16) 0 hsla(from var(--screen) h s calc(l * .8)),
      inset calc(0rem / 16) calc(4rem / 16) 0 hsla(from var(--screen) h s calc(l * .8)),
      inset calc(0rem / 16) calc(-4rem / 16) 0 hsla(from var(--screen) h s calc(l * .8));
  }
}

.screen__top-dots {
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(2rem / 16);
  left: 0;
  width: 100%;
  height: var(--screen-padding);
  &:before, &:after {
    content: '';
    width: .55rem;
    aspect-ratio: 1 / 1;
    background: var(--pokedex);
    border: calc(2rem / 16) solid black;
    border-radius: 50%;
  }
}

.screen__bottom-dot {
  position: absolute;
  bottom: calc(var(--screen-padding) / 2);
  width: 1rem;
  transform: translateY(50%);
  aspect-ratio: 1 / 1;
  background: var(--pokedex);
  border-radius: 50%;
  border: calc(2rem / 16) solid black;
}

.screen__speaker {
  position: absolute;
  bottom:  calc((var(--screen-padding) + 2rem / 16) / 2);
  right: calc(var(--screen-padding) + 2rem / 16);
  width: 2rem;
  height: calc(2rem / 16);
  background: black;
  
  &:before, &:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    content: '';
  }

  &:before {
    top: -.5rem;
  }

  &:after {
    bottom: -.5rem;
  }
}

.pokemon-image__container, .pokemon-name {
  display: block;
  position: relative;
  z-index: 1;
}

@keyframes scan-lines {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 100%;
  }
}

.pokemon-image__container {
  display: none;
  position: relative;
  place-items: center;
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: calc(10rem / 16);
  height: 100%;
  
  &.show {
    display: grid;
  }

  &:before, &:after {
    height: calc(100% - 12rem / 16);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 12rem / 16);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .035), rgba(0, 0, 0, .035) calc(1rem / 16), rgba(0, 0, 0, 0) calc(1rem / 16));
    background-size: 100% calc(5rem / 16);
    background-repeat: repeat-y;
    background-position: 0 0;
    mix-blend-mode: darken;
    animation: 125s linear 0s infinite scan-lines forwards;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    top: calc(6rem / 16);
    /* hsla gradient not working?
    background: linear-gradient(
      to bottom, 
      hsla(from var(--screen) h s l 1), 
      hsla(from var(--screen) h s l 1) calc(1rem / 16), 
      hsla(from var(--screen) h s l 0) calc(1rem / 16)
    ); */
    background: linear-gradient(
      to bottom, 
      #9DA266, 
      #9DA266 calc(1rem / 16), 
      #9DA26600 calc(1rem / 16)
    );
    background-size: 100% calc(5rem / 16);
    background-repeat: repeat-y;
    background-position: .1rem 0;
    border-radius: calc(8rem / 16);
    mix-blend-mode: color-burn;
    animation: 125s linear 0s infinite scan-lines forwards;
    z-index: 99;
  }
}

.pokemon-image {
  position: relative;
  z-index: 2;
  max-height: 100%;
}

.pokemon-name {
  margin-top: auto;
  text-transform: capitalize;
  transform: translateY(-.25rem);
  padding-bottom: .5rem;
}

.pokedex-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--pokedex-margin) calc(var(--pokedex-margin) / 2);
}

.start-button {
  width: 11%;
  aspect-ratio: 1 / 1;
  background: hsl(from var(--grey-dark) h s calc(l * 3));
  border: calc(2rem / 16) solid var(--grey-dark);
  border-radius: 50%;
}

.dpad__container {
  position: relative;
  width: 25%;
  aspect-ratio: 1 / 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: .5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: calc(2rem / 16) solid var(--grey-dark);
    z-index: 3;
  }
}

.dpad__vertical, .dpad__horizontal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: calc(4rem / 16);
}

.dpad__vertical {
  flex-direction: column;
  height: 100%;
  width: 33%;
  background: hsl(from var(--grey-dark) h s calc(l * 3));
}

.dpad__horizontal {
  flex-direction: row;
  height: 33%;
  width: 100%;
}

.dpad__button {
  flex: 0 0 calc(33.33% + 2rem / 16);
  background: hsl(from var(--grey-dark) h s calc(l * 3));
  border: calc(2rem / 16) solid var(--grey-dark);
  cursor: pointer;

  &.zoom-in {
    border-bottom: none;
  }

  &.zoom-out {
    border-top: none;
  }

  &.previous-pokemon {
    border-right: none;
  }

  &.next-pokemon {
    border-left: none;
  }
}



/* Chromatic Aberration Credit: https://codepen.io/fand/pen/EgGwjg */

.chromatic-aberration {
  position: relative;
  filter: url(#chromatic-aberration) sepia(.35);
}



.effects-disabled {
  .chromatic-aberration {
    filter: none;
  }
  .pokemon-image__container {

    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

.reduced-motion {
  .pokemon-image__container {
  
    &:after {
      animation: none;
    }
  }
}

@media (prefers-reduced-motion) {
  .pokemon-image__container {
  
    &:after {
      animation: none;
    }
  }
}